<div class="w-full h-full font-normal overflow-hidden bg-black">
  <turbo-frame id="slide">
    <div class="slide bg-red-100 absolute top-0 right-0 left-0 bottom-0 p-6 md:px-24 md:py-14">
      <%= render @slide %>
    </div>
  </turbo-frame>

  <div class="hidden">
    <% if @slide_prev %>
      <a href="<%= slide_path(@slide_prev) %>"
         data-controller="slides"
         data-action="keydown.n@window->slides#click keydown.page_up@window->slides#click">
        <<
      </a>
    <% end %>

    <% if @slide_next %>
      <a href="<%= slide_path(@slide_next) %>"
         data-controller="slides"
         data-action="keydown.m@window->slides#click keydown.page_down@window->slides#click">
        >>
      </a>
    <% end %>
  </div>
</div>
