<div class="bg-black text-green-300 text-3xl leading-10 font-mono p-4 mt-8 rounded-md overflow-x-auto highlight">
  <pre><%=
    Rouge::Formatters::HTML.new.format(
      Rouge::Lexers::Javascript.new.lex(contents.strip)
    ).html_safe %></pre>
</div>
